<div class="deznav">
    <div class="deznav-scroll" style="background-color: #539516; ">
<ul class="metismenu" id="menu" >
            <li><a href="#">
      <i class="flaticon-layout"></i>
      <span class="nav-text">Home</span>
    </a>

            </li>
            <li><a  href="#">
    <i class="flaticon-monitor"></i>
      <span class="nav-text">Resource Management</span>
    </a>
            </li>
           
        </ul>
</div>
</div>
<style>
        span.nav-text {
          color: white;
        }
        i.flaticon-layout,
        i.flaticon-monitor {
          color: white !important;
          transition: transform 0.3s ease; /* Adding transition for smooth transformation */
        }
        i.flaticon-layout:hover,
        i.flaticon-monitor:hover {
          transform: translateY(-5px);
           /* Move the icon up by 5px on hover */
        }
      </style>
      